.main {
  display: flex;
  background-color: darkseagreen;
  margin: 20px;
  padding: 10px;
  border: darkblue;
  border-style: solid;
  /* this will attach  the first and last item to the sides*/
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  min-width: fit-content;
  font-family: sans-serif;
}

.my_error {
  color: red;
  font-weight: bold;
}

.doneButton {
  align-self: flex-start;
  width: 100px;
}

.data_lines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
