.took_quizzes {
  display: flex;
  background-color: darkseagreen;
  margin: 20px;
  padding: 10px;
  border: darkblue;
  border-style: solid;
  /* this will attach  the first and last item to the sides*/
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  min-width: fit-content;
  font-family: sans-serif;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.my_error {
  color: red;
  font-weight: bold;
}
