.div1 {
  width: 800px;
  height: 600px;
  padding: 20px;
  text-align: center;
  border: 10px solid #787878;
}

.div2 {
  width: 750px;
  height: 550px;
  padding: 20px;
  text-align: center;
  border: 5px solid #787878;
}

.certificate_title {
  font-size: 50px;
  font-weight: bold;
}
