.register {
  display: flex;
  background-color: darkseagreen;
  margin: 20px;
  padding: 10px;
  border: darkblue;
  border-style: solid;
  /* this will attach  the first and last item to the sides*/
  justify-content: space-between;
  flex-direction: column;
}

form {
  display: flex;
  background-color: darkseagreen;
  margin: 20px;
  padding: 10px;
  border: darkblue;
  border-style: solid;
  /* this will attach  the first and last item to the sides*/
  justify-content: space-between;
  flex-direction: column;
}

.form_line {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.inputLabel {
  padding-left: 10px;
}

.inputValue {
  padding-right: 10px;
  width: fit-content;
}

.my_error {
  color: red;
  font-weight: bold;
}
