.qanda {
  display: flex;
  background-color: darkseagreen;
  margin: 20px;
  padding: 10px;
  border: darkblue;
  border-style: solid;
  /* this will attach  the first and last item to the sides*/
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  min-width: fit-content;
  font-family: sans-serif;
}

form {
  display: flex;
  background-color: darkseagreen;
  margin: 20px;
  padding: 10px;
  border: darkblue;
  border-style: solid;
  /* this will attach  the first and last item to the sides*/
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
}

.my_error {
  color: red;
  font-weight: bold;
}

.qandaDetails {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.detailLabel {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.formButton {
  justify-self: flex-end;
  width: 100px;
}
