nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: small;
  font-family: sans-serif;
  font-weight: bold;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-right: 10px;
}

button {
  width: 100px;
  height: 20px;
}

.my_error {
  color: red;
  font-weight: bold;
}

.dashboard {
  background-color: darkseagreen;
  padding: 10px 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  align-items: center;
  height: 60px;
  min-width: fit-content;
  font-family: sans-serif;
}

.userLogout {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.dashboard_title {
  display: flex;
  justify-content: center;
}

.quizMameForm {
  margin: 10px;
  padding: 10px;
  border: none;
}

.my_error {
  color: red;
  font-weight: bold;
}
