body {
  align-items: center;
}

.new_quiz {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  background-color: darkseagreen;
  margin: 20px;
  padding: 10px;
  border: darkblue;
  border-style: solid;
  /* this will attach  the first and last item to the sides*/
  /* align-items: center; */
  min-width: fit-content;
  font-family: sans-serif;
}

form {
  display: flex;
  background-color: darkseagreen;
  margin: 20px;
  padding: 10px;
  border: darkblue;
  border-style: solid;
  /* this will attach  the first and last item to the sides*/
  justify-content: space-between;
  flex-direction: column;
}

.cofirmation_checkbox {
  color: red;
  font-weight: bold;
}

.quizDetails {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* gap: 5px; */
  width: 400px;
}

.detailLine {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.quizTitle {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(18, 53, 18);
}

.btn_and_mark {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.mark {
  color: #430bc5;
  font-size: small;
  font-family: sans-serif;
  font-weight: bold;
}

.doneButton {
  width: 100px;
}

.printCertificateButton {
  width: 200px;
}

.return_instructions {
  font-size: x-small;
  color: yellow;
  background-color: black;
}

.correctAnswers {
  width: 200px;
}
